Django<5.0
django-allauth
# Pilote MySQL principal (rapide, nécessite une compilation)
mysqlclient
# Pilote de secours pur Python (utilisé dans settings.py)
pymysql
# Pour la génération de PDF
reportlab
xhtml2pdf
# Pour la génération de fichiers Excel
openpyxl
# Pour l'authentification JWT (si nécessaire, dépendance possible de allauth)
PyJWT
# Serveur WSGI de production
gunicorn
